
body {
	text-align: center;
	background-color: gainsboro;
}

header.row {
	margin: 1em;
}
header img{
	width: 40%;
	padding: 1em;
}

.main img{
	width: 55%;
	padding: 5%;
}

h1{
	font-family: Danube;
	padding-top: 1em;
	color: #2A7FFF;
}

nav a {
	border-radius: 5px;
}
.container-nav{
	margin-left: -15px;
}

/* BARRE DE RECHERCHE */
.position {
	position:absolute;
	top: 587px;
	left: 4px;
}

/* FIN CSS BARRE DE RECHERCHE */

.position2 {
	position:absolute;
	top: 10%;
	left: 10%;
}

/* CSS COMMENTAIRE */
.position_comment {
	text-align:left;
	width:91%;
}

/* FIN CSS COMMENTAIRE */


.blue-border {
	border: 2px #0088CC solid;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 136, 204, 1);
	box-shadow: 0px 0px 5px 1px rgba(0, 136, 204, 1);
}

/* DEBUT CSS PAGE DE DEPOT DE PROJET */

.marge {
	margin-top: 30px;
	margin-left:65px;
	margin-bottom:30px;
}

.marge_send {
	margin-top: 30px;
	margin-left: -102px;
	margin-bottom: 34px;
}

.newMarge {
	margin-top:24px;
	margin-left: -7%;
}

/* FIN DE CSS DU DEPOT DE PROJET */

/* DEBUT DE CSS DE LA PAGE D'ADMINISTRATION */

.admin_title {
	margin-left: 31%;
}

/* FIN DU CSS DE LA PAGE D'ADMINISTRATION */

.login-box{
	margin: 1em;
	margin-left: 60px;
	margin-top: 38px;
}

.main section{
	
}

.main-title p {
	font-family: Book Antiqua;
	font-weight: bold;
	font-style: italic;
	text-align: right;
	padding-right: 2em;
}

.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	font-size: 30px;
}

.rating span.star {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}

.rating span.star:before {
	content: "\f006";
	padding-right: 5px;
	color: #999;
}

.rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
	content: "\f005";
	color: #e3cf7a;
}
.rating span.active-star:before{ 
	content: "\f005";
	color: #e3cf7a;
}
.main{padding:5px;}

.carousel-control {
	top: 50%;
	color: #0088CC;
	border: none;
	background-color: initial;
}