
	<div class="row"><div class="span8"><span>Veuillez confirmer votre achat de projet sur MySourceProject</span></div></div>
	<div class="row">
		<div class="span1"></div> 
		<div class="span6"><caption><h3>Facturation</h3></caption>
			<table class="table table-striped"><thead><tr><th><u>Projet</u></th><th><u>Langage</u></th><th><i>Prix</i></th></tr></thead>
				<tbody><tr ><td>{{project.name}}</td><td>{{project.category}}</td><td>{{project.price}}</td></tr></tbody>
			</table></div><div class="span1"></div>
	</div>
	<div class="row">
	<div class="span4"></div><div class="span4"><button class="btn btn-small btn-primary" type="button">Confirmer </button> <button class="btn btn-small btn-primary" type="button">Annuler</button></div></div>
</div>
<div class="row">
<p></p></div>
</div>

</div>

