<div class="row">
	<div class="span2"><img ng-src="img/{{project.img}}"/>
		<p> {{project.note}}</p>
		<span class="rating"><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span><span class="star"></span></span>
		<p> {{project.price}}</p>
		<button ng-click="buy()" class="btn">{{button}}</button>
	</div>
	<div class="span6">
		<h2>{{project.name}}</h2>
		<p>{{project.description}}</p>
	</div>
</div>
<div class="row">
	<div class="offset3 span5">
		<table class="table table-condensed">
			<tr>
				<td><img ng-src="img/{{project.img}}"/></td>
				<td><img ng-src="img/{{project.img}}"/>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="offset1 span6 blue-border" ng-show="project.commentaire">
				<h4>Avis utilisateurs</h4>
				<div id="myCarousel" class="carousel slide">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" ng-class="{active : $first}" ng-repeat="commentaire in project.commentaires"></li>
					</ol>
					<!-- Carousel items -->
					<div class="item" ng-class="{active : $first}" ng-repeat="commentaire in project.commentaires">
						<div class="row">
							<div class="span5">
								<section class="span4" >{{commentaire.username}}</section>
								<section class="span4" >{{commentaire.content}}</section>
							</div>
						</div>
					</div> 
					<!-- Carousel nav --> 
					<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
			</div>
			<div class="offset1 span6 blue-border" ng-hide="project.commentaire">
				<h4>Ecrivez votre commentaire:</h4>
				<textarea rows="3" ng-model="com"></textarea>
					<div class="control-group">
				<div class="controls">
					<button type="submit" ng-click="postercom(com)" class="btn">Envoyer</button><button type="submit" ng-click="reset()" class="btn">Effacer</button>
				</div>
			</div>
			</div>
		</div>		