<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div class="row">
        <section class="span4"><img src="img/piano.jpg" class="img-rounded"/><br/>Piano Virtuel sur Linux</section>
        <section class="span4"><img src="img/miniature/min0001.jpg" class="img-rounded"/><br/>Grep C++</section>
      </div>
      <div class="row">
        <section class="span4"><img src="img/miniature/min0002.jpg" class="img-rounded"/><br/>PHP CMS</section>
        <section class="span4"><img src="img/miniature/min0003.jpg" class="img-rounded"/><br/>Piano Virtuel ESGI</section>
      </div>
    </div>
  </div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>