<div class="offset1 span8 main blue-border">
	<div class="row">
	   <div class="span2"></div><div class="span4 newMarge">
            <form class="form-horizontal" >
                <div class="control-group">
                <label class="control-label" for="inputName">Nom du projet : </label>
                <div class="controls">
                    <input type="text" id="inputName" placeholder="Nom" ng-model="projectname">
                </div>
                </div>
                
                <div class="control-group">
                <label class="control-label" for="inputDescription">Description : </label>
                <div class="controls">
                    <input type="text" id="inputDescription" placeholder="description" ng-model="description">
                </div>
                </div>
				
            </form>
        </div> </div>
		<div class="row"> 
    	<section>
            <div class="span3 blue-border marge">
              <ul class="nav nav-list">
                <li class="active"><a href="#"> Glisser ci-dessous vos fichiers sources</a></li>
                 <li class="nav-header">fichiers a d&eacute;poser ici</li>
              </ul>
            </div>
        </section>
        <section>
            <div class="span3 blue-border marge">
              <ul class="nav nav-list">
                <li class="active"><a href="#">Glisser ci-dessous votre avatar de projet</a></li>
                 <li class="nav-header">fichiers a d&eacute;poser ici</li>
              </ul>
            </div>
        </section></div>
		<div class="row">
        <section>
         <div class="span3 blue-border marge">
              <ul class="nav nav-list">
                <li class="active"><a href="#">Glisser ci-dessous ici votre apercu de code  </a></li>
                <li class="nav-header">fichiers a d&eacute;poser ici</li>
              </ul>
            </div>
        </section> <div class="span3 marge"> <button class="btn btn-large" type="button" >
     Soumettre projet</button></div></div>
		</div>