<div class="row">
	<div class="span2"></div><div class="span4 newMarge">
		<form class="form-horizontal" >
			<div class="control-group">
				<label class="control-label" for="inputName">Nom du projet : </label>
				<div class="controls">
					<input type="text" id="inputName" placeholder="Nom" ng-model="Project.Titre_Projet" required>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="inputDescription">Description :</label>
				<div class="controls">
					<input type="text" id="inputDescription" placeholder="Décrivez votre projet" ng-model="Project.Description_Projet" required>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >Catégorie</label>
				<div class="controls">
					<select ng-model="Project.Category">
						<option value="C++" >C++</option>
						<option value="PHP">PHP</option>
						<option value="IOS">IOS</option>
						<option value="Javascript">Javascript</option>
					</select>
				</div>
			</div>
			
		</div> </div>
		<div class="row"> 
			<section>
				<div class="span3 blue-border marge">
					<label>Joindre l'avatar du projet : </label>
					<input type="file" id="avatar" ng-model="Project.avatar" />
				</div>
			</section>
			<section>
				<div class="span3 blue-border marge">
				<label>Joindre des screens de votre projet : </label>
					<input type="file" id="screens" ng-model="Project.screens" />
				</div>
			</section></div>
			<div class="row">
				<section>
					<div class="span3 blue-border marge">
					<label>Joindre les codes sources du projet : </label>
						<input type="file" id="sources" ng-model="Project.sources" />
					</div>
					
				</section> 
				
				<div class="span3 marge"> <button class="btn btn-large" type="submit" ng-click="uploadProjectForm(Project)">
				Soumettre projet</button></div></div> 
			</form>	
