<div class="row"><h4><u>Upload un projet - Upload des fichiers</u></h4></div>
<div class="row">
	<div class="span2"></div><div class="span4 newMarge">
		<form class="form-horizontal" action="/api/project.upload.php" ng-upload="maj(respond)">
    <input type="hidden" name="ID_Projet" value="{{projectid}}">
		<div class="row"> 
			<section>
				<div class="span3 blue-border marge">
					<label>Joindre l'avatar du projet : </label>
					<input type="file" id="avatar" name="avatar" />
				</div>
			</section>
			<section>
				<div class="span3 blue-border marge">
				<label>Joindre des screens de votre projet : </label>
					<input type="file" id="screens" name="screens" />
				</div>
			</section></div>
			<div class="row">
				<section>
					<div class="span3 blue-border marge">
					<label>Joindre les codes sources du projet : </label>
						 <input type="file" id="screens" name="sources" />
					</div>
					
				</section> 
				
				<div class="span3 marge"> <button class="btn btn-large upload-submit" type="submit" ng-click="maj(files)">
				Soumettre projet</button></div></div> 
		</form>	
		</div> </div>
		
			
