<div class="span3 login-box">
  <form>
    <fieldset>
      <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
        <input class="input-medium" type="text" placeholder="Login">
      </div>
      <input type="password" style="width: 177px;" placeholder="Password">
      <button type="submit" class="btn btn-mini btn-primary">Se connecter</button>
      <button type="submit" ng-click="register()" class="btn btn-mini">S'enregistrer</button>
    </fieldset>
  </form>
</div>