
body {
  text-align: center;
  background-color: gainsboro;
}

 header.row {
  margin: 1em;
}

header img{
  width: 40%;
  padding: 1em;
}

.main img{
  width: 55%;
  padding: 5%;
}

h1{
  font-family: Danube;
  padding-top: 1em;
  color: #2A7FFF;
}

nav a {
  border-radius: 5px;
}
.container-nav{
  margin-left: -15px;
}

.blue-border {
  border: 2px #0088CC solid;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 136, 204, 1);
  box-shadow: 0px 0px 5px 1px rgba(0, 136, 204, 1);
}

.login-box{
margin: 1em;
margin-left: 60px;
margin-top: 38px;
}

.main section{

}

.main-title p {
  font-family: Book Antiqua;
  font-weight: bold;
  font-style: italic;
  text-align: right;
  padding-right: 2em;
}